wadl2objc/wadl/_application_withoutNamwspace.wadl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<application xmlns="http://wadl.dev.java.net/2009/02">
    <doc xmlns:jersey="http://jersey.java.net/" jersey:generatedBy="Jersey: 2.5.1 2014-01-02 13:43:00"/>
    <doc xmlns:jersey="http://jersey.java.net/" jersey:hint="This is simplified WADL with user and core resources only. To get full WADL with extended resources use the query parameter detail. Link: http://engagedevapp01:8080/tuxmobile-war-2.4/services/application.wadl?detail=true"/>
    <grammars>
        <include href="application.wadl/xsd0.xsd">
            <doc title="Generated" xml:lang="en"/>
        </include>
    </grammars>
    <resources base="http://engagedevapp01:8080/tuxmobile-war-2.4/services/">
        <resource path="dashboard/reports/adoption">
            <resource path="/committedReservations">
                <method id="committedReservationsAdoption" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ReservationAdoptionRequestDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ReservationAdoptionDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/weeklyCommittedReport.xlsx">
                <method id="weeklyCommittedReport" name="POST">
                    <request>
                        <representation mediaType="application/x-www-form-urlencoded">
                            <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="reportDate" style="query" type="xs:string"/>
                        </representation>
                    </request>
                    <response>
                        <representation mediaType="application/x-excel"/>
                    </response>
                </method>
            </resource>
            <resource path="/weeklyWeddingReport.xlsx">
                <method id="weeklyWeddingReport" name="POST">
                    <request>
                        <representation mediaType="application/x-www-form-urlencoded">
                            <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="reportDate" style="query" type="xs:string"/>
                        </representation>
                    </request>
                    <response>
                        <representation mediaType="application/x-excel"/>
                    </response>
                </method>
            </resource>
            <resource path="/statsExcel.xls">
                <method id="statsReport" name="POST">
                    <request>
                        <representation mediaType="application/x-www-form-urlencoded">
                            <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="fromDate" style="query" type="xs:string"/>
                            <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="toDate" style="query" type="xs:string"/>
                        </representation>
                    </request>
                    <response>
                        <representation mediaType="application/x-excel"/>
                    </response>
                </method>
            </resource>
            <resource path="/sendWeeklyReports">
                <method id="sendWeeklyReports" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="SendWeeklyReportsDto" mediaType="application/json"/>
                    </request>
                </method>
            </resource>
            <resource path="/createdReservations">
                <method id="createdReservationsAdoption" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ReservationAdoptionRequestDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ReservationAdoptionDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/weddingGroups">
                <method id="weddingGroupAdoption" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ReservationAdoptionRequestDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ReservationAdoptionDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="dashboard/query/">
            <resource path="/universe/device/{deviceId}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="deviceId" style="template" type="xs:string"/>
                <method id="findDeviceState" name="GET">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="AuthStoreStateDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/tuxoracle/reservation/{reservationNo: \d{1,14}}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="reservationNo" style="template" type="xs:string"/>
                <method id="findTuxOracleReservationByNo" name="GET">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/pos/reservation">
                <method id="findPosReservationByNo" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="DashboardQueryPosReservationDto" mediaType="application/json"/>
                    </request>
                    <response/>
                </method>
            </resource>
        </resource>
        <resource path="transaction">
            <resource path="/editMarkdown">
                <method id="editMarkdown" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="MarkdownEditRequestDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="LineItemDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/addTaxExemption">
                <method id="addTaxExemption" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="TaxExemptionRequestDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="TransactionDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/fillLineItems">
                <method id="fillLineItems" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="LineItemListDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="LineItemListDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/removeMarkdown">
                <method id="removeMarkdown" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="MarkdownRequestDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="LineItemDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/create">
                <method id="createTransaction" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="TransactionCreationDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="TransactionDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/postvoid">
                <method id="voidTransaction" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="TransactionDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="TransactionDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/setCustomer">
                <method id="saveCustomerInTransaction" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="TransactionDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="TransactionDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/addFee">
                <method id="addFee" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="AddFeeRequestDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="LineItemDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/postTuxDropoff">
                <method id="postTuxDropoff" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="TransactionDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="PostTuxDepositResponseDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/applyPfDiscount">
                <method id="applyPfDiscount" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ApplyPfDiscountRequestDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="LineItemDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/removeTaxExemption">
                <method id="removeTaxExemption" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="TaxExemptionRequestDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="TransactionDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/changeItemsLostFee">
                <method id="changeItemsLostFee" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ChangeItemsLostFeeRequestDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="LineItemDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/addMarkdown">
                <method id="addMarkdown" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="MarkdownRequestDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="LineItemDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/applyCoupon">
                <method id="applyCoupon" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ApplyCouponRequestDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="LineItemDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/changeLateFee">
                <method id="changeLateFee" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="AddFeeRequestDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="LineItemDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/current">
                <method id="getCurrentTransaction" name="GET">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="TransactionDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/fillLineItemsDropoff">
                <method id="fillLineItems" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="DropoffLineItemsRequestDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="LineItemListDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/postTuxDeposit">
                <method id="postTuxDeposit" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="TransactionDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="PostTuxDepositResponseDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="receipts">
            <resource path="/">
                <method id="sendReceipt" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ReceiptRequestDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ReceiptResponseDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/multi">
                <method id="sendReceipt" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ReceiptRequestContainerDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ReceiptResponseDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="dashboard/reports/stores">
            <resource path="/launchedStores">
                <method id="deleteLaunchedStore" name="DELETE">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="StoreNoDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="StoreListDto" mediaType="application/json"/>
                    </response>
                </method>
                <method id="launchedStores" name="GET">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="StoreListDto" mediaType="application/json"/>
                    </response>
                </method>
                <method id="createLaunchedStore" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="StoreNoDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="StoreListDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="customer">
            <resource path="/validate">
                <method id="validateCustomer" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="CustomerDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="CustomerValidationDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{partyId: \d{1,20}}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="partyId" style="template" type="xs:string"/>
                <method id="getCustomer" name="GET">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="CustomerDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/pf">
                <method id="enrollPfCustomer" name="PUT">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="CustomerDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="CustomerDto" mediaType="application/json"/>
                    </response>
                </method>
                <method id="createPfCustomer" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="CustomerCreateDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="CustomerDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/">
                <method id="updateCustomer" name="PUT">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="CustomerDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="CustomerDto" mediaType="application/json"/>
                    </response>
                </method>
                <method id="createCustomer" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="CustomerCreateDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="CustomerDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/search">
                <method id="searchCustomers" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="CustomerSearchCriteriaDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="CustomerSearchResultDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="log">
            <resource path="/">
                <method id="logClient" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="LogEntryDto" mediaType="application/json"/>
                    </request>
                </method>
            </resource>
        </resource>
        <resource path="rules">
            <resource path="/eventDates/{eventDate: \d{4}-\d{2}-\d{2}}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="eventDate" style="template" type="xs:string"/>
                <method id="calculateEventDays" name="GET">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="EventDatesDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/eventDates/{eventDate: \d{4}-\d{2}-\d{2}}/{eventType}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="eventDate" style="template" type="xs:string"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="eventType" style="template" type="xs:string"/>
                <method id="calculateEventDaysForEventType" name="GET">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="EventDatesDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="pos">
            <resource path="/freeTuxPickup">
                <method id="postFreeTuxPickup" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="PostFreeTuxPickupRequestDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="PostTuxDepositResponseDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/reservation/{reservationNo: \d{1,14}}/maxRefund">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="reservationNo" style="template" type="xs:string"/>
                <method id="maxRefundAmount" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="MaxRefundRequestDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="MaxRefundListDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/reservation/{reservationNo: \d{1,14}}/posSummary">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="reservationNo" style="template" type="xs:string"/>
                <method id="findPosSummaryByNo" name="GET">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ReservationPosSummaryDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/reservation/{reservationNo: \d{1,14}}/posDetails">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="reservationNo" style="template" type="xs:string"/>
                <method id="findPosDetailsByNo" name="GET">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ReservationPickupDetailsDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/reservationPayments">
                <method id="reservationPaymentsBatch" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ReservationNumbersDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ReservationPaymentsListDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/version">
                <method id="version" name="GET">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="PosVersionDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/giftCardValidate">
                <method id="giftCardValidate" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="GiftCardValidateDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="GiftCardValidateResponseDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/reservation/{reservationNo: \d{1,14}}/reservationPayments">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="reservationNo" style="template" type="xs:string"/>
                <method id="reservationPayments" name="GET">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ReservationPaymentsDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/tx/postPickup">
                <method id="postPickup" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="PostPickupRequestDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="PostTuxDepositResponseDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/reservation/{reservationNo: \d{1,14}}/posGarments">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="reservationNo" style="template" type="xs:string"/>
                <method id="findPosGarmentsByNo" name="GET">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ReservationPosGarmentsDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/maxRefund">
                <method id="maxRefundAmountBatch" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="MaxRefundRequestListDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="MaxRefundListDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="dashboard/diagnostic">
            <resource path="/fingerprints">
                <method id="printFingerPrints" name="GET"/>
            </resource>
            <resource path="/employeeAnonimous">
                <method id="diagnosticEmployeeServiceAnonimous" name="GET"/>
            </resource>
            <resource path="/giftcard">
                <method id="diagnosticGiftCard" name="GET"/>
            </resource>
            <resource path="/reservation">
                <method id="diagnosticReservationService" name="GET"/>
            </resource>
            <resource path="/version">
                <method id="diagnosticGetVersion" name="GET">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="PosVersionDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/customer">
                <method id="diagnosticCustomerService" name="GET"/>
            </resource>
            <resource path="/tuxoracle">
                <method id="diagnosticTuxOracle" name="GET"/>
            </resource>
            <resource path="/txwadmin">
                <method id="diagnosticTxwAdmin" name="GET"/>
            </resource>
            <resource path="/getcustomer">
                <method id="diagnosticGetCustomer" name="GET"/>
            </resource>
            <resource path="/employee">
                <method id="diagnosticEmployeeService" name="GET"/>
            </resource>
            <resource path="/getregisterstate">
                <method id="diagnosticGetRegisterState" name="GET"/>
            </resource>
            <resource path="/printer">
                <method id="PrinterService" name="GET"/>
            </resource>
            <resource path="/getError">
                <method id="getErrorDto" name="GET">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ErrorDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/tuxmob">
                <method id="diagnosticTuxMob" name="GET"/>
            </resource>
        </resource>
        <resource path="search">
            <resource path="/reservations">
                <method id="searchReservations" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="SearchCriteriaDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="SearchResultDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/groups">
                <method id="searchGroups" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="SearchCriteriaDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="SearchResultDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/events">
                <method id="searchEvents" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="SearchCriteriaDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="SearchResultDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="inventory">
            <resource path="catalog/{catalogNo}/{measurementsReservationNo}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="measurementsReservationNo" style="template" type="xs:string"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="catalogNo" style="template" type="xs:string"/>
                <method id="findCatalog" name="GET">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="CatalogItemListDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="catalogs">
                <method id="searchAll" name="GET">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="CatalogListDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="stores">
                <method id="searchAllStores" name="GET">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="StoresDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="stores/return">
                <method id="searchReturnStores" name="GET">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="StoresDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="stores/{storeNo: \d{1,4}}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="storeNo" style="template" type="xs:string"/>
                <method id="findByStoreNo" name="GET">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="StoreDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="stores/pickup">
                <method id="searchPickupStores" name="GET">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="StoresDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="printers/{storeNo: \d{1,4}}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="storeNo" style="template" type="xs:string"/>
                <method id="findPrintersForStore" name="GET">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="PrintersDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="printers">
                <method id="findAllPrinters" name="GET">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="PrintersDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="schools">
                <method id="searchAll" name="GET">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="If-Modified-Since" style="header" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Range" style="header" type="xs:string"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="SchoolListDto" mediaType="application/json"/>
                    </response>
                </method>
                <method id="searchByCriteria" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="SchoolDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="SchoolListDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="schools/{schoolSt: [A-Za-z]{2}}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="schoolSt" style="template" type="xs:string"/>
                <method id="searchByState" name="GET">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="If-Modified-Since" style="header" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Range" style="header" type="xs:string"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="SchoolListDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="schools/{schoolNo: \d{1,8}}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="schoolNo" style="template" type="xs:int"/>
                <method id="findBySchoolNo" name="GET">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="SchoolDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="schools/{schoolSt: [A-Za-z]{2}}/{schoolCity}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="schoolCity" style="template" type="xs:string"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="schoolSt" style="template" type="xs:string"/>
                <method id="searchByStateAndCity" name="GET">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="If-Modified-Since" style="header" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Range" style="header" type="xs:string"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="SchoolListDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="styles/{styleNo}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="styleNo" style="template" type="xs:string"/>
                <method id="findByStyleNumber" name="GET">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="StyleInformationDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="styles">
                <method id="searchByFilter" name="GET">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="type" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="store" style="query" type="xs:string"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="StyleInformationListDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="sizes">
                <method id="filterSizes" name="GET">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="style" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="store" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="eventDate" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="eventType" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="group" style="query" type="xs:long"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="SizeListDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="discount">
                <method id="findDiscountInfo" name="GET">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="code" style="query" type="xs:string"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="eventType" style="query" type="xs:string"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="DiscountInfoDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="reservation">
            <resource path="/{reservationNo: \d{1,14}}/styles/{lineNo: \d{1,14}}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="reservationNo" style="template" type="xs:string"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="lineNo" style="template" type="xs:int"/>
                <method id="findReservationStyle" name="GET">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ReservationStyleDto" mediaType="application/json"/>
                    </response>
                </method>
                <method id="updateStyle" name="PUT">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ReservationStyleDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ReservationStyleListDto" mediaType="application/json"/>
                    </response>
                </method>
                <method id="removeStyle" name="DELETE">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ReservationStyleListDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/assignStylesTo">
                <method id="assignStylesTo" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="AssignStylesRequest" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="CopyStylesResponseDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{reservationNo: \d{1,14}}/styles">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="reservationNo" style="template" type="xs:string"/>
                <method id="findReservationStyles" name="GET">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ReservationStyleListDto" mediaType="application/json"/>
                    </response>
                </method>
                <method id="createStyle" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ReservationStyleDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ReservationStyleListDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{reservationNo: \d{1,14}}/copyStylesTo">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="reservationNo" style="template" type="xs:string"/>
                <method id="copyStylesTo" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ReservationNumbersDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="CopyStylesResponseDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{reservationNo: \d{1,14}}/sizes">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="reservationNo" style="template" type="xs:string"/>
                <method id="findReservationSizes" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="StyleInformationDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="SizeListDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{reservationNo: \d{1,14}}/size">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="reservationNo" style="template" type="xs:string"/>
                <method id="reservationSizeAvailability" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="SizeAvailabilityRequestDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="SizeDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{reservationNo: \d{1,14}}/validateChange">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="reservationNo" style="template" type="xs:string"/>
                <method id="validate" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ChangeRequestDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ReorderValidationResponseDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{reservationNo: \d{1,14}}/changeLogistics">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="reservationNo" style="template" type="xs:string"/>
                <method id="changeLogistics" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ChangeLogisticsRequestDto" mediaType="application/json"/>
                    </request>
                </method>
            </resource>
            <resource path="/{reservationNo: \d{1,14}}/change">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="reservationNo" style="template" type="xs:string"/>
                <method id="change" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ChangeRequestDto" mediaType="application/json"/>
                    </request>
                </method>
            </resource>
            <resource path="/{reservationNo: \d{1,14}}/reorderStatus">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="reservationNo" style="template" type="xs:string"/>
                <method id="reorderStatus" name="GET">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ReorderStatusResponseDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{reservationNo: \d{1,14}}/hatpackage">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="reservationNo" style="template" type="xs:string"/>
                <method id="removeHatPackage" name="DELETE">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ReservationStyleListDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{reservationNo: \d{1,14}}/hatpackage/{catalogCode}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="reservationNo" style="template" type="xs:string"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="catalogCode" style="template" type="xs:string"/>
                <method id="addHatPackage" name="POST">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ReservationStyleListDto" mediaType="application/json"/>
                    </response>
                </method>
                <method id="updateHatPackage" name="PUT">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ReservationStyleListDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{reservationNo: \d{1,14}}/logistic">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="reservationNo" style="template" type="xs:string"/>
                <method id="updateLogistic" name="PUT">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ReservationLogisticDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ReservationLogisticDto" mediaType="application/json"/>
                    </response>
                </method>
                <method id="findLogisticByNo" name="GET">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ReservationLogisticDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{reservationNo: \d{1,14}}/summary">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="reservationNo" style="template" type="xs:string"/>
                <method id="findSummaryByNo" name="GET">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ReservationSummaryDto" mediaType="application/json"/>
                    </response>
                </method>
                <method id="updateSummary" name="PUT">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ReservationSummaryDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ReservationSummaryDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{reservationNo: \d{1,14}}/offers/discount">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="reservationNo" style="template" type="xs:string"/>
                <method id="assignReservationDiscount" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ReservationOffersDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ReservationOffersDto" mediaType="application/json"/>
                    </response>
                </method>
                <method id="deleteReservationDiscount" name="DELETE">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ReservationOffersDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{reservationNo: \d{1,14}}/measurement">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="reservationNo" style="template" type="xs:string"/>
                <method id="updateMeasurement" name="PUT">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ReservationMeasurementDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ReservationMeasurementDto" mediaType="application/json"/>
                    </response>
                </method>
                <method id="findMeasurementByNo" name="GET">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ReservationMeasurementDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{reservationNo: \d{1,14}}/favorites">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="reservationNo" style="template" type="xs:string"/>
                <method id="findFavoritesByNo" name="GET">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ReservationFavoritesListDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{reservationNo: \d{1,14}}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="reservationNo" style="template" type="xs:string"/>
                <method id="removeReservation" name="DELETE"/>
            </resource>
            <resource path="/">
                <method id="createReservation" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ReservationCreationDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ReservationSummaryDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{reservationNo: \d{1,14}}/commit">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="reservationNo" style="template" type="xs:string"/>
                <method id="commitReservation" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ReservationCommitDto" mediaType="application/json"/>
                    </request>
                    <response/>
                </method>
            </resource>
            <resource path="/{reservationNo: \d{1,14}}/validate">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="reservationNo" style="template" type="xs:string"/>
                <method id="isValidForCommit" name="GET">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ReservationValidationDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{reservationNo: \d{1,14}}/posSummary">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="reservationNo" style="template" type="xs:string"/>
                <method id="findPosSummaryByNo" name="GET">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ReservationPosSummaryDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{reservationNo: \d{1,14}}/references">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="reservationNo" style="template" type="xs:string"/>
                <method id="findReferencesByNo" name="GET">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ReservationReferenceListDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{reservationNo: \d{1,14}}/offers">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="reservationNo" style="template" type="xs:string"/>
                <method id="findOffersByNo" name="GET">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ReservationOffersDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="tender">
            <resource path="/captureSignature">
                <method id="captureSignature" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="TenderSignatureDto" mediaType="application/json"/>
                    </request>
                </method>
            </resource>
            <resource path="/authorize">
                <method id="authorize" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="TendersAuthorizeRequestDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="TendersAuthorizeRequestDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/lookup">
                <method id="lookup" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="TenderDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="TenderDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="dashboard/raw/discounts">
            <resource path="/{code}/description">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="code" style="template" type="xs:string"/>
                <method id="discountDescriptions" name="GET">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="DiscountDescriptionRawDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{code}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="code" style="template" type="xs:string"/>
                <method id="findDiscounts" name="GET">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="testing">
            <resource path="/reservation/prepared/forShipFreeTuxWithNegativeBalance/{shipToStore}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="shipToStore" style="template" type="xs:string"/>
                <method id="createForShipFreeTuxWithNegativeBalance" name="GET">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/reservation/prepared/forShipWithPositiveBalance">
                <method id="createForShipWithPositiveBalance" name="GET">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/reservation/prepared/forShipWithZeroBalance/{shipToStore}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="shipToStore" style="template" type="xs:string"/>
                <method id="createForShipWithZeroBalance" name="GET">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/pos/{transactionNumber}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="transactionNumber" style="template" type="xs:string"/>
                <method id="findTransaction" name="GET">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/reservation/prepared/forShipWithNegativeBalance/{shipToStore}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="shipToStore" style="template" type="xs:string"/>
                <method id="createForShipWithNegativeBalance" name="GET">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/reservation/prepared/forShipFreeTuxWithNegativeBalance">
                <method id="createForShipFreeTuxWithNegativeBalance" name="GET">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/reservation/prepared/notPayed">
                <method id="createNotPayedReservation" name="POST">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/reservation/prepared/forShipFreeTuxWithZeroBalance">
                <method id="createForShipFreeTuxWithZeroBalance" name="GET">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/reservation/{reservationNo: \d{1,14}}/ship">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="reservationNo" style="template" type="xs:string"/>
                <method id="changeStatusToShip" name="PUT"/>
            </resource>
            <resource path="/reservation/prepared/forShipWithZeroBalance">
                <method id="createForShipWithZeroBalance" name="GET">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/reservation/prepared/forShipWithNegativeBalance">
                <method id="createForShipWithNegativeBalance" name="GET">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/reservation/prepared/forShipFreeTuxWithZeroBalance/{shipToStore}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="shipToStore" style="template" type="xs:string"/>
                <method id="createForShipFreeTuxWithZeroBalance" name="GET">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/reservation/prepared/forShipWithPositiveBalance/{shipToStore}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="shipToStore" style="template" type="xs:string"/>
                <method id="createForShipWithPositiveBalance" name="GET">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="groups">
            <resource path="/{groupId: \d{1,14}}/reservations">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="groupId" style="template" type="xs:long"/>
                <method id="getReservations" name="GET">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="GroupReservationsDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{groupId: \d{1,14}}/offers/freeSuit/{reservationNo: \d{1,14}}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="groupId" style="template" type="xs:long"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="reservationNo" style="template" type="xs:string"/>
                <method id="deleteFreeSuit" name="DELETE">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="GroupOffersDto" mediaType="application/json"/>
                    </response>
                </method>
                <method id="assignFreeSuit" name="POST">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="GroupOffersDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{groupId: \d{1,14}}/callLog">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="groupId" style="template" type="xs:long"/>
                <method id="callLog" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="GroupCallLogDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="GroupCallLogListDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/weddingCallList">
                <method id="weddingCallList" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="WeddingGroupCallRequestDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="WeddingGroupCallListDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/bridalShowCalls/{groupId: \d{1,14}}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="groupId" style="template" type="xs:long"/>
                <method id="updateBridalShowCall" name="PUT">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="BridalShowCallDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="BridalShowCallDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{groupId: \d{1,14}}/offers/discount">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="groupId" style="template" type="xs:long"/>
                <method id="assignDiscount" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="GroupOffersDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="GroupOffersDto" mediaType="application/json"/>
                    </response>
                </method>
                <method id="deleteDiscount" name="DELETE">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="GroupOffersDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{groupId: \d{1,14}}/callLogs">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="groupId" style="template" type="xs:long"/>
                <method id="getGroupCallLogs" name="GET">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="GroupCallLogListDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{groupId: \d{1,14}}/weddingCall">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="groupId" style="template" type="xs:long"/>
                <method id="addWeddingCall" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="WeddingGroupCallDto" mediaType="application/json"/>
                    </request>
                </method>
            </resource>
            <resource path="/{groupId: \d{1,14}}/offers/freeTux/{reservationNo: \d{1,14}}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="groupId" style="template" type="xs:long"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="reservationNo" style="template" type="xs:string"/>
                <method id="deleteFreeTux" name="DELETE">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="GroupOffersDto" mediaType="application/json"/>
                    </response>
                </method>
                <method id="assignFreeTux" name="POST">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="GroupOffersDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{groupId: \d{1,14}}/offers/promoCode">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="groupId" style="template" type="xs:long"/>
                <method id="deletePromoCode" name="DELETE">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="GroupOffersDto" mediaType="application/json"/>
                    </response>
                </method>
                <method id="assignPromoCode" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="GroupOffersDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="GroupOffersDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{groupId: \d{1,14}}/addReservations">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="groupId" style="template" type="xs:long"/>
                <method id="addReservationList" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="AddReservationsRequestDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="AddReservationsResponseDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{groupId: \d{1,14}}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="groupId" style="template" type="xs:long"/>
                <method id="getGroup" name="GET">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="GroupDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{groupId: \d{1,14}}/summary">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="groupId" style="template" type="xs:long"/>
                <method id="getSummaryGroup" name="GET">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="GroupSummaryDto" mediaType="application/json"/>
                    </response>
                </method>
                <method id="updateSummary" name="PUT">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="GroupSummaryDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="GroupSummaryDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{groupId: \d{1,14}}/offers">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="groupId" style="template" type="xs:long"/>
                <method id="getOffers" name="GET">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="GroupOffersDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{groupId: \d{1,14}}/logistic">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="groupId" style="template" type="xs:long"/>
                <method id="updateLogistic" name="PUT">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="GroupLogisticDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="GroupLogisticDto" mediaType="application/json"/>
                    </response>
                </method>
                <method id="getLogistics" name="GET">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="GroupLogisticDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/">
                <method id="createGroup" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="GroupCreationDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="GroupDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/bridalShowCalls">
                <method id="findBridalShowCallList" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="PageDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="BridalShowCallListDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/{groupId: \d{1,14}}/favorites">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="groupId" style="template" type="xs:long"/>
                <method id="findFavoritesByGroupId" name="GET">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="ReservationFavoritesListDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="auth">
            <resource path="store">
                <method id="closeRegisterSession" name="DELETE"/>
                <method id="getRegisterSession" name="GET">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="AuthStoreStateDto" mediaType="application/json"/>
                    </response>
                </method>
                <method id="openRegisterSession" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="AuthStoreDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="AuthStoreStateDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="user">
                <method id="signOutCurrentUser" name="DELETE"/>
                <method id="getCurrentUser" name="GET">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="AuthUserDto" mediaType="application/json"/>
                    </response>
                </method>
                <method id="authenticateUser" name="POST">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Date" style="header" type="xs:string"/>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="AuthUserDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="AuthUserDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="manager/permission/{userPermission}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="userPermission" style="template" type="xs:string"/>
                <method id="managerOverrideRemovePermission" name="DELETE">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="AuthManagerResponseDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="manager">
                <method id="managerOverrideRemoveRole" name="DELETE">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="AuthManagerResponseDto" mediaType="application/json"/>
                    </response>
                </method>
                <method id="managerOverrideAddRole" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="AuthManagerDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="AuthManagerResponseDto" mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="dashboard">
                <method id="authenticateDashboardUser" name="POST">
                    <request>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="AuthUserDto" mediaType="application/json"/>
                    </request>
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="AuthUserDto" mediaType="application/json"/>
                    </response>
                </method>
                <method id="signOutDashboardCurrentUser" name="DELETE"/>
            </resource>
        </resource>
    </resources>
</application>
