wadl2objc/wadl/xsd0.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://tuxmobile.tmw.com/payments" xmlns:pmnt="http://tuxmobile.tmw.com/payments" xmlns:tns="http://tuxmobile.tmw.com/payments" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="TransactionDto" type="tns:transactionDto"/>

  <xs:complexType name="transactionDto">
    <xs:sequence>
      <xs:element name="txId" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

